<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Test our Classifier!</div>
    <img src="https://raw.githubusercontent.com/Ben243/fastai-v3/master/app/view/sdhackss.png" alt="SD Hacks 2019 wooooo">
    <p>
      More than half of the entire marine turtle population worldwide has ingested some form of human generated debris last year, according to 
      an in-depth study done in 2018 by the University of Queensland in Australia. Many sea animals mistake plastic bags as food, 
      and ingest them accidentally, leading to injury and death. We decided to set out and utilize deep learning to help us more deeply understand
      these issues.
    </p>
    <img src="https://raw.githubusercontent.com/Ben243/fastai-v3/master/app/view/Medium_WW260730.jpg" alt="© Troy Mayne / WWF">
    <p>
      Upload an image of a <strong>jellyfish</strong> or a <strong>plastic bag</strong> and see if we can identify the difference between the two!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Classify</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
